#counter {
    background-color: black;
    color: white;
    display: table;
    padding: 10px;
  }

  #comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #comments > div {
    width: 32%;
  }